In [61]:
import pandas as pd
import numpy as np
import sqlite3
from bs4 import BeautifulSoup as bs
import requests

jeopady_dataFrame = pd.read_csv("jeopardy.csv")
print(jeopady_dataFrame.columns)
jeopardy_data = jeopady_dataFrame.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})
print(jeopardy_data.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [62]:
jeopardy_data.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [63]:
def search(lists, data):
    strain = lambda x: all((i.lower() in x.lower() for i in x))
    filtered_data = data.loc[data.Question.apply(strain)]
    return filtered_data
search(["King", "England"],jeopardy_data ).head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [64]:
print(jeopardy_data.dtypes)

Show Number     int64
Air Date       object
Round          object
Category       object
Value          object
Question       object
Answer         object
dtype: object

In [65]:
jeopardy_data["Value"] = jeopardy_data["Value"].apply(lambda x: x.strip("$") if x!= "None" else "0")
jeopardy_data["Value"] = jeopardy_data["Value"].apply(lambda x: x.replace(",", ""))
jeopardy_data["Value"] =jeopardy_data["Value"].astype(float)
jeopardy_data.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [66]:
jeopardy_data.dtypes

Show Number      int64
Air Date        object
Round           object
Category        object
Value          float64
Question        object
Answer          object
dtype: object

In [69]:
variable =search(["King"],jeopardy_data )
variable.Value.mean()

739.9884755451067

In [76]:
def finder(data):
    return data.Answer.value_counts()

In [77]:
finder(variable)

China                            216
Australia                        215
Japan                            196
Chicago                          194
France                           193
                                ...
James Schlesinger                  1
Hole-in-one                        1
U.S. Circuit Court of Appeals      1
puns                               1
John H. Johnson                    1
Name: Answer, Length: 88268, dtype: int64